
.vs/TestRecords/FileContentIndex/410983d2-e850-4fc3-b9ee-f1aa57616e10.vsidx
*.vsidx
.DS_Store
.vscode/launch.json
/SpinShelf/obj
/SpinShelf/bin
/.vs
/SpinShelf/appsettings.Development.json
SpinShelf/appsettings.Development.json
SpinShelf/appsettings.json
/SpinShelf/appsettings.Development.json
/SpinShelf/appsettings.json
