
._index.html
._kyleBolinger.code-workspace
._main.scss
css/._collapse.css
css/._main.css
css/._original-main.css
css/._slidebars.min.css
css/._swiper.min.css
images/artwork/charcoal/._statue-back.jpg
images/artwork/charcoal/._statue-front.jpg
images/artwork/digital/._3d-poster.jpg
images/artwork/digital/._blighted-sea.png
images/artwork/digital/._branding.jpg
images/artwork/digital/._egg-closed-front.jpg
images/artwork/digital/._egg-closed-side.jpg
images/artwork/digital/._egg-closed-top.jpg
images/artwork/digital/._egg-open-bird-in.jpg
images/artwork/digital/._egg-open-bird-out.jpg
images/artwork/digital/._i-hate-you-party-poster.png
images/artwork/digital/._pigeon-rubbish-logo.png
images/artwork/digital/._redPanda.png
images/artwork/digital/._smelly-pears-poster.png
images/artwork/digital/._swords-synonymous.png
images/artwork/digital/._the-messenger-poster.png
images/artwork/digital/._the-messenger.png
images/artwork/digital/._time-lost.png
images/artwork/digital/._true-detective-magazine.png
images/artwork/games/._cc-preview.jpg
images/artwork/games/._cc-slideshow.jpg
images/artwork/games/._cc-thumbnail.jpg
images/artwork/games/._fpdo-preview.jpg
images/artwork/games/._fpdo-slideshow.jpg
images/artwork/games/._fpdo-thumbnail.jpg
images/artwork/games/._sr-preview.jpg
images/artwork/games/._sr-slideshow.jpg
images/artwork/games/._sr-thumbnail.jpg
images/artwork/games/._ttt-preview.jpg
images/artwork/games/._ttt-slideshow.jpg
images/artwork/games/._ttt-thumbnail.jpg
images/artwork/graphite/._bust.jpg
images/artwork/graphite/._jenny.jpg
images/artwork/graphite/._philosopher.jpg
images/artwork/graphite/._self-portrait.jpg
images/artwork/motion/._kiosk.jpg
images/artwork/motion/._menu.jpg
images/artwork/motion/._perception-big.png
images/artwork/motion/._perception.jpg
images/interactive/._busch-thumbnail.jpg
images/interactive/._deer-thumbnail.jpg
images/interactive/._dragon.jpg
images/interactive/._drone-photogram.jpg
images/interactive/._ia-preview.png
images/interactive/._prs-packaging.jpg
images/interactive/._web1-preview.png
images/interactive/._web2-preview-big.png
images/interactive/._web2-preview.png
images/prs-images/._close.svg
images/prs-images/._kylebolinger_resume.pdf
images/prs-images/._link-preview.png
images/prs-images/._menu.svg
images/prs-images/._prs-header.svg
images/prs-images/._prs-icon.png
images/prs-images/._prs-logo-512.png
images/resume/._name-logo.svg
images/resume/._scale_green.svg
images/resume/._scale_orange.svg
images/resume/._scale_yellow.svg
images/resume/icons/._ae.png
images/resume/icons/._ai.png
images/resume/icons/._c4d.png
images/resume/icons/._cyberduck.png
images/resume/icons/._garageband.png
images/resume/icons/._github.svg
images/resume/icons/._procreate.png
images/resume/icons/._programming.svg
images/resume/icons/._ps.png
images/resume/icons/._unity.svg
images/resume/icons/._xcode.png
images/resume/icons/._xd.png
images/social/._behance-black.svg
images/social/._facebook-black.svg
images/prs-images/._prs-text.svg
images/prs-images/._profile-picture.jpg
images/social/._github-logo.svg
images/social/._github-text-logo.png
images/social/._instagram-black.svg
images/social/._itch-black.svg
images/social/._linkedin-black.svg
js/._collapse.js
js/._jquery-3.4.1.min.js
js/._jquery.stopStealPhoto.min.js
js/._main.js
js/._scroll-lock.min.js
js/._skrollr.min.js
js/._swiper.min.js
pages/._about.html
pages/._artwork.html
pages/._interactive.html
pages/._motion-graphics.html
pages/._video-games.html
videos/._cactical.mp4
videos/._ferris.mp4
videos/._kiosk.mp4
videos/._menu.mp4
videos/._perception.mp4
videos/._smuggler.mp4
videos/._teeter.mp4
