
.vs/TestRecords/FileContentIndex/410983d2-e850-4fc3-b9ee-f1aa57616e10.vsidx
*.vsidx
.DS_Store
.vscode/launch.json
/PigeonRubbishStudios/obj
/PigeonRubbishStudios/bin
/.vs
/PigeonRubbishStudios/appsettings.Development.json
PigeonRubbishStudios/appsettings.Development.json
PigeonRubbishStudios/appsettings.json
/PigeonRubbishStudios/appsettings.Development.json
/PigeonRubbishStudios/appsettings.json
*.cache
*.cache.json
