// Variables
$hover-black: rgba(0, 0, 0, 0.75);
$hide-white: rgba(255, 255, 255, 0);

// Global
*
{
    box-sizing: border-box;
    margin: 0;
}

html, body
{
    width: 100%;
    height: 100%;
    background-color: black;
}

body
{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



// Sections
section
{
    max-width: 100vw;
    height: 100vh;

    .background-triangles
    {
        .blackbird-triangle
        {
            transform-origin: top left;
            z-index: 0;
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('../images/blackbird-site.png');
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
            transition: transform 0.4s ease-in-out;
            transition: z-index 0 ease-in-out;

            .link
            {
                color: $hide-white;
                transition: all 0.4s ease-in-out;

                h1
                {
                    position: absolute;
                    // width: 100%;
                    margin: 0;
                    font-size: 50px;
                    font-family: ff-dax-pro, sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    left: 5%;
                    top: 200px;
                }

                svg
                {
                    width: 100vw;
                    height: 100vh;
            
                    polygon
                    {
                        fill: transparent;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }

            &:hover
            {
                transform: scale(1.05);
                z-index: 1;

                .link
                {
                    color: white;

                    svg
                    {
                        polygon
                        {
                            fill: $hover-black;
                        }
                    }
                }
            }
        }

        .flash-triangle
        {
            transform-origin: bottom right;
            z-index: 0;
            height: 100vh;
            width: 100vw;
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url('../images/flash-site.png');
            background-size: cover;
            background-position: center;
            clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
            transition: transform 0.4s ease-in-out;
            transition: z-index 0 ease-in-out;

            .link
            {
                color: $hide-white;
                transition: all 0.4s ease-in-out;

                h1
                {
                    position: absolute;
                    // width: 100%;
                    margin: 0;
                    font-size: 50px;
                    font-family: ff-dax-pro, sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    right: 5%;
                    bottom: 200px;
                    padding-left: 30%;
                    margin-left: 10%;
                }

                svg
                {
                    width: 100vw;
                    height: 100vh;
            
                    polygon
                    {
                        fill: transparent;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }

            &:hover
            {
                transform: scale(1.05);
                z-index: 1;

                .link
                {
                    color: white;
                    
                    svg
                    {
                        polygon
                        {
                            fill: $hover-black;
                        }
                    }
                }
            }
        }
    }
}



// Mobile
@media screen and (max-width: 945px)
{
    section
    {
        width: 100vw;
        height: 100vh;
        .background-triangles
        {
            .blackbird-triangle
            {
                .link
                {
                    color: white;

                    h1
                    {
                        font-size: 22px;
                        left: 5%;
                        width: 100%;
                        padding-right: 30%;
                        margin-right: 10%;
                    }

                    svg
                    {
                        polygon
                        {
                            fill: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }

            .flash-triangle
            {
                .link
                {
                    color: white;

                    h1
                    {
                        font-size: 22px;
                        right: 0%;
                        width: 100%;
                        padding-left: 35%;
                        margin-left: 10%;
                    }

                    svg
                    {
                        polygon
                        {
                            fill: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }
}