body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 50px;
	background-color: #e4e4e4;
	background-image: url('dots.gif');
}


header h1 {
	font-weight: normal;
	font-size: 25px;
	color: #ddd;
}

p {
	margin-top: 0px;
}

a {
	color: #FF9900;
	text-decoration: none;
}
a:hover {
	color: #0099CC;
}

.maryville {
	border: 1px solid #0099CC;
	margin-bottom: 30px;
}

#shell {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5px 20px 20px 20px;
	background-color: white;
}

nav {
	background-color: #dddddd;
	padding: 10px 10px 9px 10px;
	text-align: right;
}

nav h2 {
	font-weight: normal;
	color: #0099CC;
	font-size: 10px;
	text-transform: uppercase;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

nav li {
	display: inline;
	margin: 0px 0px 0px 20px;
}

section {
	font-size: 12px;
	background-color: #0099CC;
	color: #fff;
	padding: 40px;
}

section h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin-top: 0px;
}

section ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

 .maryville {
	width: 100%;
}

.redPanda {
	width: 250px;
	height: 250px;
	margin-left: -50%;
	margin-bottom: -60%;
}